html, body{
  width: 100vw;
  overflow-x: hidden;
  background-color: #eee;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  div {
    margin: 0;
    flex-shrink: 1;
  }
  div:first-child {
    flex-grow: 1;
    flex-shrink: 0;
  }
  div:nth-child(2) {
    padding-right: 1rem;
  }
  img {
    flex-shrink: 2;
    max-width: 100px;
    padding-top: 0.5rem;
  }
}

.photo-list {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
  & > p {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    background-color: #777777;
  }
}

.imgur-tile {
  overflow: hidden;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 5px;
  padding: 1%;
  margin: 1% 4% 1% 4%;
  background-color: white;
  width: 42%;
  display: inline-block;
  img {
    width: 100%;
  }
  a:link {
    text-decoration: none;
  }
  p {
    margin: 0;
    padding-left: 1rem;
    overflow: hidden;
    color: black;
  }
}

.loading-text {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  background-color: #ffdddd;
  margin: 0;
}